*{
box-sizing: border-box;
}


body {
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
  background: white;
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}

img {
  max-width: 100%;
}

/***************** NAV *****************/

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-around;
  background-color: #070533;
  width: 100%;
  padding: 1rem;
  margin: 0;
}

nav a {
  text-decoration: none;
}
nav a:hover {
  text-decoration: none;
}

/**************** HERO *****************/

.hero {
  display: flex;
  justify-content: center;
  color: #42b6f4;
}

header {
  background-color: #333; /* we can't add background-color to the .hero section above
                           * because that section also uses the "snow" class which has
                           * a background-image which overrides the background-color */
}

header img {
  max-height: 6rem;
  padding-right: 2rem;
}

h1 .logo-w {
  font-size: 4rem;
}

/**************** ASIDE ****************/

aside {
  margin: 1rem;
}

input[type="submit"] {
  padding: .25rem;
  background-color: #3d7fcf;
  border: 1px solid #3d7fcf;  /* warning for same color border - but we need to set the border so we can set the border-radius */
  border-radius: 5px;
  font-size: 1rem;
  color: white;
}

/*********** PRODUCTS SECTION ***********/

section {
  padding: 0 .75rem;
}

h2 {
  padding-top: 1.5rem;
  font-size: 3rem;
  text-align: center;
  color: #2d2d2d;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #2d2d2d;
}

.item-container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.item-container div {
  max-width: 40rem;
  border: 1px solid black;
  margin: 1rem;
  padding: 1rem;
}

.item-container .modify-cart {
  float: right;
}

.item-container .modify-cart button {
width: 3rem;

/*
:root {
font-size: 16px;
}

body {
  font-size: 2rem;
  font-family:Montserrat, "Open Sans", Helvetica, Arial, sans-serif;

p {
  font-family:Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size:1.5rem;
  color: #2d2d2d;
}


/* TODO: size images manually so this is not necessary */
img {
  max-height: 20rem;
}

/***************** NAV *****************/
nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-around;
  background-color: #070533;
  width: 100%;
  padding: 1rem;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #3D7FCF;
}

nav a:hover {
  text-decoration: none;
  color: #ffffff;
}

nav li i{
  color: white;
}

/**************** HERO *****************/
header {
  margin-bottom: 1rem;
}

header img {
  max-height: 15rem;
  float: left;
}

header h1 {
  margin-top: 7rem;
  line-height: 3.5rem;
  font-size: 5rem;
  color: #4C7EC9
}

h1 .logo-w {
  font-size: 9rem;
}

/**************** ASIDE ****************/
aside {
 padding: 3rem;
 background-color: #3D7FCF;
 font-size: 1rem;
 color: white;
}
input[type="submit"] {
  padding: .25rem;
  border-radius: 5px;
  font-size: .1rem;
  color: white;
}

/*********** PRODUCTS SECTION ***********/
.container {
  display:grid;
  grid-template-columns: 40px 50px auto 50px 40px;
  grid-template-rows: [row1-start] 25% [row1-end] 100px auto;
}

.item {
  max-width: 22rem;
  padding: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
}

section {
  padding: 0 .75rem;
}

h2 {
  padding-top: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #2d2d2d;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #2d2d2d;
}
