* {
 box-sizing: border-box;
}
:root {
font-size: 16px;
}

/*
.grid {
  display: grid;
  grid-gap: .93rem;
  grid-template-areas:
  "header"
  "navbar"
  "aside"
  "main"
  "footer"
}
*/

/* HEADER */
header {
  grid-area: header;
}

/* NAV */
nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: slategray;
  width: 100%;
  padding: .5rem;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: white;
}



/* ASIDE */
aside {
grid-area: aside;
background: black;
padding: .533rem;
}

@media (min-width: 69.375rem) {
  .grid {
    grid-template-columns: 12.5rem  1rem 18.75rem;
    grid-template-areas:  "header navbar aside main footer";
  }
}
