* {
 box-sizing: border-box;
}
:root {
font-size: 16px;
}

.grid {
  display: grid;
  grid-gap: .93rem;
  grid-template-areas:
  "header"
  "navbar"
  "aside"
  "main"
  "footer"
}

/* HEADER */
header {
  grid-area: header;
  background: slategray;
  padding: 2rem;
}

/* NAV */
nav {
  grid-area: navbar;
  padding: .533rem;
}

nav ul {
  grid-area: navbar;
  display: flex;
  flex-direction: row;
  align-items: stretch;

}

nav ul li {
padding-right: .5rem;

}

/* ASIDE */
aside {
grid-area: aside;
background: black;
padding: .533rem;
}

@media (min-width: 69.375rem) {
  .grid {
    grid-template-columns: 12.5rem  1rem 18.75rem;
    grid-template-areas:  "header navbar aside main footer";
  }
}
